<%- include('../partials/header') %>
    <div class="container mt-5">
        <form action="/keahlian/store" method="POST">
            <div class="mb-3">
                <label for="nama_keahlian" class="form-label">Nama Keahlian</label>
                <input type="text" class="form-control" name="nama_keahlian" required>
            </div>
            <div class="mb-3">
                <label for="tingkat_keahlian" class="form-label">Tingkat Keahlian</label>
                <input type="text" class="form-control" name="tingkat_keahlian" required>
            </div>
            <div class="mb-3">
                <label for="id_mahasiswa" class="form-label">ID Mahasiswa</label>
                <input type="text" class="form-control" name="id_mahasiswa" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">Simpan</button>
            </div>
        </form>
    </div>
<%- include('../partials/footer') %>