<%- include('../partials/header') %>
    <form action="/kategori/store" method="post">
        <div class="mb-3">
            <label for="nama">nama kategori</label>
            <input type="text" class="form-control" name="nama">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-sm btn-success">Simpan</button>
        </div>
    </form>
<%- include('../partials/footer') %>